@import "variables.less";

.board {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;

    &> .mui-paper-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        // flex-wrap: wrap;
    }
}

.cell {
    padding: 5px;
    width: 6.66%;
    height: 6.66%;
}



.cell-content {
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 3;
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff;
}

.cell.is-empty {
    background-color: #f9f9f9;
    // border: 1px solid #ffffff;
    color: #f9f9f9;
    line-height: 3;
    font-size: 1rem;

    .cell-content {
        background-color: #f9f9f9;
        border: 1px solid #ffffff;
    }
    
    &:hover .cell-content {
        border: 1px solid #e3e3e3;
    }
}


.cell.is-special {
    .special-tw {
        border-color: red;
    }

    .special-tw:hover {
        background-color: red;
    }

    .special-dl {
        border-color: blue;
    }

    .special-dl:hover {
        background-color: blue;
    }

    .special-dw {
        border-color: teal;
    }

    .special-dw:hover {
        background-color: teal;
    }

    .special-tl {
        border-color: brown;
    }

    .special-tl:hover {
        background-color: brown;
    }

    .cell-content:hover {
        color: #ffffff;
        // background-color: @color;
    }

    // &:hover .cell-content {
    //     border: 1px solid;
    // }
}