.board {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;

    &> .mui-paper-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        // flex-wrap: wrap;
    }
}

.cell {
    padding: 5px;
    width: 6.66%;
    height: 6.66%;
}

.cell-content {
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 5;
    height: 100%;
    width: 100%;
}

.cell.is-empty {
    background-color: #f9f9f9;

}