doctype html5
html
  head
    link(rel="stylesheet" href="./css/main.alien.css")
    link(rel="stylesheet" href="./css/main.css")
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:300,500')
    script(src="./js/vendor.min.js")
  body
    #app
    script(src="./js/app.js")